{% extends "template.html" %}

{% block sub-head %}
{% endblock %}

{% block sub-style %}
<style>
  * { font-size: x-small; }
</style>
{% endblock %}

{% block sub-title %}siki - index{% endblock %}

{% block sub-content %}
<h1>siki</h1>
<span id="siki-port"></span>
<br>
<span id="swank-port"></span>
{% endblock %}

{% block sub-script %}
<script>
  fetch("/siki/server-state",{
    method: "GET",
    headers: { "Content-Type": "application/json" }
  })
  .then(function(response) { return response.json(); })
  .then(function(data) {
    document.getElementById("siki-port").innerHTML = "siki: " + data.sikiPort.toString();
    document.getElementById("swank-port").innerHTML = "swank: " + data.swankPort.toString();
  });
</script>
{% endblock %}

